* {
    box-sizing: border-box;
    font-family: monospace;
}

body, html {
    margin: auto;
    padding: 0;
}

:root {
    --red-color: #7D0606
}

/*#region Universal Classes */

.hiddenDesktop {
    display: none;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.logo {
    height: 32px;
    width: 32px;
}

.far:visited {
    color: black;
}

.far {
    color: black;
}

.column {
    flex-direction: column;
}

.centerText {
    text-align: center;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

/*#endregion Universal Classes */

/*#region Header  */

@media only screen and (max-width: 600px) {
    .showSmaller {
        display: flex;
    }
    .hiddenSmaller {
        display: none;
    }
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: blanchedalmond;
    justify-content: space-evenly;
    align-items: center;
}

.navMenu {
    margin-left: 1rem;
    width: 100%;
}

.zazziLogo {
    height: 40px;
    padding: 0 1rem;
    z-index: 1001;
}

.navigation {
    height: 3.5rem;
}

.linkEffect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.6rem;
    font-size: 1rem;
    height: 100%;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in-out;
    color: var(--red-color);
    width: 7rem;
    text-align: center;
    text-decoration: none;
}

.linkEffect:hover {
    font-size: 150%;
    background-color: var(--red-color);
    color: white;
    width: 10rem;
    height: 100%;
}

/* Burger menu css */

.headerLogo {
    position: absolute;
}

.burgerButton {
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 1000;
    left: 0;
    top: 0;
    margin: 0.4rem;
}

.burgerNav {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    background-color: rgb(255, 255, 255, 0.4);
}

.burgerNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.burgerNav h2 {
    margin: 0;
    padding: 0;
}

.burgerNav ul>li {
    padding: 2rem;
    font-size: 2rem;
}

.burgerNav ul>li>a {
    text-decoration: none;
}

.burgerNav ul>li>a:visited {
    color: black;
}

.socLinksBurger {
    padding: 1rem;
}

.showBurgerNav {
    transform: translateY(0);
}

.blurEffects {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

/*#endregion Header */

/*#region Footer */

footer {
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: blanchedalmond;
}

.footerContainer {
    margin: 1;
}

.socLinks a {
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    transition: all .2s ease-in-out;
}

.socLinks a:hover {
    transform: scale(1.1);
}

.socLinks a:visited {
    color: black;
}

@media only screen and (max-width: 600px) {
    footer {
        display: none;
    }
}

/*#endregion Footer  */

/*#region Main content   */

main {
    flex-direction: column;
}

/*  Styling for the index page  */

.mainContent {
    height: 100vh;
}

.zazziImage {
    width: 100%;
    height: auto;
    margin: 2rem;
}

/*  Styling for the experience page */

.mainContentText {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    margin: 6rem;
}

@media only screen and (max-width: 600px) {
    .mainContentText {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        margin: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .mainContentText {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        margin-top: 5rem;
    }
}

.mainText {
    display: inline-block;
    width: 100%;
}

.mainText>p {
    max-width: 90vw;
    margin: 0;
    justify-content: center;
}

/*  Styling for the projects page (the game is placed on this page but styling in separate css file)  */

.card {
    max-width: 50rem;
    border: 1px solid var(--red-color);
    border-radius: 5px;
    margin: 2rem 0;
}

.card>p {
    margin: 2rem;
}

.cardImg {
    max-width: 25rem;
    width: 100%;
    padding: 1rem;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat, minmax(10rem, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    margin: 4rem 2rem 2rem 2rem;
}

/*#endregion Main Content */